@keyframes border-blinker {
  50% {
    border-color: rgb(0, 0, 255);
  }
}

body {
    background: black url("resources/halloween-rps-bg.png") no-repeat;
    background-size: cover;
    text-align: center;
}

h1 {
    font-family: Spooky-Font;
    color: rgb(226, 93, 4);
    padding-top: 5%;
}

div, div i {
    color: orange;
}

@font-face {
    font-family: 'Spooky-Font';
    src: url("resources/SomethingStrange-vjYD.ttf");
}

.circle {
  width: 18%;
  border-radius: 50%;
  background-color: rgb(12, 9, 26);
  position: relative;
  display: flex;
  overflow: hidden;
  font-size: 5vw;
}

.con {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.circle::after {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

.circle-txt {
  position: absolute;
  bottom: 15%;
  width: 100%;
  text-align: center;
  font-size: 100%;
}


.modal-content {
/*   border-style: groove;  */
	border-style: solid;
  border-width: 5px;
  border-color: rgb(108, 2, 253);
  transition-duration: 0.5s;
  animation: border-blinker 1s linear infinite;
}

.modal-header {
  background-color: #00ff40;
  position: relative;
  padding: 10%;
}

.modal-title {
  position: absolute;
}

.modal-body {
  padding: 5%;
}

.share {
  padding: 15px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background-color: #3B5998;
  color: white;
}

.fa-twitter {
  background-color: #55ACEE;
  color: white;
}

.fa-envelope {
  background-color: #555;
  color: white;
}