@keyframes border-blinker {
  50% {
    border-color: rgb(0, 0, 255);
  }
}

body {
    background: black url(halloween-rps-bg.png) no-repeat;
    background-size: cover;
    text-align: center;
}

h1 {
    font-family: Spooky-Font;
    color: rgb(226, 93, 4);
    padding-top: 5%;
    font-size: 50px;
}

div, div i {
    color: orange;
}

@font-face {
    font-family: 'Spooky-Font';
    src: url("SomethingStrange-vjYD.ttf");
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(12, 9, 26);
    margin: 20px;
    text-align: center;
    padding: 10px;
}


.modal-content {
/*   border-style: groove;  */
	border-style: solid;
  border-width: 5px;
  border-color: rgb(108, 2, 253);
  transition-duration: 0.5s;
  animation: border-blinker 1s linear infinite;
}

.modal-header {
  background-color: #00ff40;
  position: relative;
  padding: 10%;
}

.modal-title {
  position: absolute;
}

.modal-body {
  padding: 5%;
}